.headerContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #1f1f1f;
  padding: 0.3em 1em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1440px;
  z-index: 100;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  padding: 0.3em 1em;
  display: inline-block;
  color: #898989;
  transition: all 0.3s;
}
.cart {
  font-size: 24px;
  padding: 0;
}
.mainLink {
  padding: 0.3em 1em;
  display: inline-block;
}
.navLink:hover {
  text-decoration: underline;
  color: #ffffff;
}
.mainLink:hover {
  text-decoration: underline;
}
.shownEmail {
  padding: 0.3em 1em;
  display: flex;
  margin: 0;
}

.burger {
  display: none;
}
@media screen and (max-width: 1023px) {
  .navLinks {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .shownEmail {
    display: none;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 24px;
  }

  .overlayMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow-y: auto;
  }

  .navLink {
    margin: 10px 20px;
    color: white;
    font-size: 24px;
    text-align: center;
  }
}
