.headerContainer {
  background-color: #1f1f1f;
  padding: 0.3em 1em;
  position: sticky;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 1440px;
}

.navLinks {
  display: flex;
  justify-content: center; /* Horizontalus centrumas */
  align-items: center; /* Vertikalus centrumas */
}

.navLink {
  padding: 0.3em 1em;
  display: inline-block;
  color: #898989;
  transition: all 0.3s;
}
.mainLink {
  padding: 0.3em 1em;
  display: inline-block;
}
.navLink:hover {
  text-decoration: underline;
  color: #ffffff;
}
.mainLink:hover {
  text-decoration: underline;
}
.shownEmail {
  padding: 0.3em 1em;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
  }
  .shownEmail {
    display: none;
  }
}
