.aboutUsContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
.aboutUsTitle {
  text-align: center;
  position: relative;
  font-size: 80px;
  padding: 0.8em;
  margin: 0;
}
.aboutUsTitle::after {
  content: "About Us" !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 15vw, 150px);
  font-weight: 800;
  line-height: 1;
  color: #1a1a1a;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.1), 0 1px rgba(255, 255, 255, 0.1),
    1px 0 rgba(255, 255, 255, 0.1), 0 -1px rgba(255, 255, 255, 0.1);
}

.aboutUsText {
  font-size: 14px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.myAbout {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  gap: 50px;
  padding-bottom: 50px;
}

.myPhoto {
  border-radius: 5%;
  width: 50%;
}

.aboutMeTopRight {
  margin: auto 0;
}

.textOverTitle {
  font-weight: bold;
  color: #e65615;
}

.myName {
  font-size: 36px;
  padding-bottom: 50px;
}

.aboutMeHash {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.hashtag {
  color: #e65616;
  font-weight: 800;
  font-size: 36px;
}

.hashTitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.experienceFieldContainer {
  overflow: hidden;
  position: relative;
  margin: 60px 0px;
}

.experienceFieldImg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.experienceFieldGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.experienceFieldLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courseName {
  font-size: 36px;
}

.experienceFieldRight {
  background-color: #e65615;
  border-radius: 15px;
  margin: 100px 0px;
  padding: 50px 100px;
}

.experienceFieldRightTitle {
  padding-bottom: 15px;
}

.learnedListFlex {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 15px;
}

.logosLink {
  width: 25%;
}

.logos {
  border-radius: 50%;
  transition: all 0.3s;
}
.logos:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.learnedListTitle {
  margin-bottom: 0;
}

.passionTitle {
  position: relative;
  font-size: 40px;
  padding: 0.8em;
  margin: 0;
}

.passionTitle::after {
  content: "My Passions" !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: clamp(25px, 15vw, 75px);
  font-weight: 800;
  line-height: 1;
  color: #1a1a1a;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.1), 0 1px rgba(255, 255, 255, 0.1),
    1px 0 rgba(255, 255, 255, 0.1), 0 -1px rgba(255, 255, 255, 0.1);
}

.passionBoxesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.passionBox {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 450px;
  border-radius: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.3s;
}
.passionBox:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.passionBox:hover .passionSubject {
  color: #e65615;
}

.passionImg1 {
  background-image: url(../fotos/MeMusicCard.png);
}
.passionImg2 {
  background-image: url(../fotos/MeActingMain.png);
}
.passionImg3 {
  background-image: url(../fotos/MeCodingBox.png);
}

.passionSubject {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  transition: all 0.8s;
}

@media screen and (max-width: 1023px) {
  .aboutUsTitle {
    font-size: 40px;
  }

  .aboutUsTitle::after {
    font-size: clamp(25px, 7vw, 75px);
  }
  .myAbout {
    gap: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }

  .textOverTitle {
    font-size: 12px;
  }

  .myName {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .experienceFieldLeft {
    font-size: 12px;
  }

  .experienceFieldLeft h2 {
    font-size: 22px;
  }

  .courseName {
    font-size: 12px;
  }

  .experienceFieldRight {
    border-radius: 15px;
    margin: 30px 0px;
    padding: 20px 40px;
  }

  .experienceFieldRightTitle {
    padding-bottom: 0px;
    font-size: 26px;
  }

  .learnedListFlex {
    gap: 10px;
    padding-bottom: 5px;
  }

  .learnedListTitle {
    font-size: 14px;
  }

  .passionTitle {
    font-size: 28px;
  }

  .passionTitle::after {
    font-size: clamp(20px, 15vw, 50px);
  }

  .passionBoxesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .aboutUsTitle {
    font-size: 36px;
  }

  .aboutUsTitle::after {
    font-size: clamp(30px, 12vw, 75px);
  }

  .aboutUsText {
    max-width: 80%;
  }

  .myAbout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
  }

  .myPhoto {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 15px;
  }

  .myName {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .aboutMeHash {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .hashtag {
    padding: 0;
    margin: 0;
  }

  .experienceFieldImg {
    height: 100%;
  }

  .experienceFieldGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    padding-top: 50px;
    text-align: center;
  }

  .experienceFieldRightTitle {
    font-size: 18px;
  }

  .learnedListFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .logosLink {
    width: 35%;
  }

  .passionTitle {
    text-align: center;
  }

  .passionTitle::after {
    align-items: center;
    justify-content: center;
    font-size: clamp(15px, 11vw, 50px);
  }

  .passionBoxesGrid {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 50px;
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 374px) {
  .aboutUsText {
    font-size: 10px;
  }
  .passionBoxesGrid {
    width: 250px;
  }
}
