.addItemPageContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.addItemPageTitle {
  text-align: center;
  position: relative;
  font-size: 80px;
  padding: 0.8em;
  margin: 0;
}

.addItemPageTitle::after {
  content: "Add Item" !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 15vw, 150px);
  font-weight: 800;
  line-height: 1;
  color: #1a1a1a;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.1), 0 1px rgba(255, 255, 255, 0.1),
    1px 0 rgba(255, 255, 255, 0.1), 0 -1px rgba(255, 255, 255, 0.1);
}

.addItemPageText {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.addItemPageSection {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.addItemFormBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #1f1f1f;
  border: 2px solid white;
  box-shadow: 10px 10px 15px white;
}

.addItemFormTitle {
  font-weight: bold;
  margin-bottom: 0;
}

.labelsDescription {
  color: white;
}

.labels {
  color: white;
}

.textareaField {
  width: 100%;
}

.addItemFormTitle,
.labelsDescription,
.submitButton {
  grid-column: 1 / -1;
}

.submitButton {
  font-weight: bold;
  width: 50%;
  margin: 15px auto;
  border: 2px solid #000;
  box-shadow: 10px 10px 15px #011212;
}

.error {
  color: tomato;
  font-size: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .addItemPageText {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .addItemPageTitle {
    text-align: center;
    font-size: 40px;
  }

  .addItemPageTitle::after {
    font-size: clamp(25px, 12vw, 75px);
  }

  .addItemPageText {
    width: 100%;
  }

  .addItemFormBox {
    grid-template-columns: 1fr;
    box-shadow: none;
  }
}

@media screen and (max-width: 375px) {
  .addItemFormBox {
    max-width: 300px;
  }

  .addItemFormBox input {
    width: 80%;
  }
  .textareaField {
    /* nereaguoja */
  }
}
