.initContainer {
  height: 44em;
  background-color: #1f1f1f;
  background: url("src/fotos/MeHome.png");
  background-repeat: no-repeat;
  background-size: 560px;
  background-position: calc(100% - 0px) bottom;
  max-width: 1440px;
  margin: 0 auto;
}

.initFirstSection {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10%;
}

.initHeadline {
  font-weight: bold;
  color: #e65615;
}
.initTitle {
  font-size: 56px;
}

.usedToolsGridSection {
  display: grid;
  padding: 10%;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  position: relative;
  overflow: hidden;
}

.usedToolsGridSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("src/fotos/GridBackground.png");
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.usedToolsFieldLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usedToolsTitle {
  font-size: 48px;
  color: #e65615;
}

.experienceFieldRight {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.toolLogo {
  background-color: #ffffff76;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .usedToolsFieldLeft p {
    font-size: 14px;
  }

  .usedToolsTitle {
    font-size: 36px;
  }

  .experienceFieldRight {
    gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  .initContainer {
    background-position: calc(100% - 10px) bottom;
  }

  .initFirstSection {
    max-width: 80%;
    padding: 0;
    height: 90%;
    margin: 30px auto;
    text-align: center;
    background-color: #1f1f1f9e;
    border-radius: 15px;
  }

  .initTitle {
    font-size: 30px;
  }

  .usedToolsGridSection {
    grid-template-columns: repeat(1, 1fr);
  }

  .usedToolsGridSection::before {
  }

  .usedToolsFieldLeft {
    text-align: center;
  }
  .usedToolsFieldLeft p {
    font-size: 12px;
  }

  .usedToolsTitle {
    font-size: 30px;
  }

  .experienceFieldRight {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 425px) {
  .initContainer {
    background-position: calc(1% - 10px) bottom;
  }
}
