.loginPageTitle {
  padding: 30px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 600px) {
  .loginPageTitle {
    text-align: center;
  }
  .loginPageText {
    display: none;
  }
}
