.loginPageContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.loginPageTitle {
  text-align: center;
  position: relative;
  font-size: 80px;
  padding: 0.8em;
  margin: 0;
  max-width: 1440px;
}
.loginPageTitle::after {
  content: "Login Page" !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(50px, 15vw, 150px);
  font-weight: 800;
  line-height: 1;
  color: #1a1a1a;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.1), 0 1px rgba(255, 255, 255, 0.1),
    1px 0 rgba(255, 255, 255, 0.1), 0 -1px rgba(255, 255, 255, 0.1);
}

.loginContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  .loginPageTitle {
    text-align: center;
  }
  .loginPageText {
    display: none;
  }
}
