.singleItemContainer {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1440px;
  margin: 3em auto;
  width: 80%;
  max-width: 1440px;
}

.singleItemGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.singleItemImg {
  border-radius: 15px;
  width: 100%;
  margin: 0 auto;
}

.singleItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.singleItemName {
  color: #e65615;
  font-size: 3em;
  margin-bottom: 0;
}
.singleItemDescription {
  color: #e65615;
}

.singleItemPriceTitle {
  color: #e65615;
  margin-bottom: 0;
}

.singleItemPrice {
  font-size: 2.5em;
  font-weight: bold;
  color: #e65615;
}
.singleItemCart {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.singleItemCounterContainer {
  display: flex;
  align-items: center;
}

.singleItemCounter {
  display: inline-block;
  padding: 10px 23.3px;
  margin: 0;
  border-radius: 5px;
}
.singleItemCountBtn {
  padding: 10.5px 15px;
  background-color: #e65615;
  color: #333;
  border-radius: 5px;
  font-weight: bold;
}

.singleItemCartBtn {
  padding: 10px 30px;
  background-color: #e65615;
}

.singleItemErrorAndTotalPrice {
  display: flex;
  justify-content: space-between;
}

.singleItemHideError {
  display: none;
}

.singleItemShowError {
  color: tomato;
  display: inline;
}

.singleItemTotalPrice {
  text-align: right;
  display: block;
}

.singleItemBottomTitle {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #fff;
}

.singleItemBottomFlex {
  display: flex;
  justify-content: space-between;
}

.singleItemBottomFlexLeft {
  width: 50%;
}

.singleItemLi {
  color: #fff;
  padding-bottom: 10px;
}

.deleteButton {
  display: block;
  text-align: left;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px 5px;
  color: white;
  background-color: rgb(5, 73, 156);
}

@media screen and (max-width: 1023px) {
  .singleItemName {
    font-size: 2em;
  }

  .singleItemPrice {
    font-size: 1.5em;
  }

  .singleItemCounter {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 767px) {
  .singleItemGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .singleItemInfo {
    width: 100%;
  }
  .singleItemName {
    font-size: 2em;
  }

  .singleItemPrice {
    font-size: 1.5em;
  }

  .singleItemCounter {
    padding: 10px 10px;
  }
  .singleItemCountBtn {
  }

  .singleItemCartBtn {
    width: 60%;
  }

  .singleItemBottomFlex {
    flex-direction: column;
  }

  .singleItemBottomFlexLeft {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .singleItemCartBtn {
    width: auto;
  }
}
