.loginFormBox {
  display: grid;
  gap: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #0e999e;
  max-width: 350px;
  padding: 30px;
  background-image: url(https://png.pngtree.com/background/20220716/original/pngtree-gradient-aqua-blue-poster-background-picture-image_1634957.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.loginFormTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.labels {
  color: #10b4b9;
  -webkit-text-stroke: 1px black;
}
.loginButton {
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #000;
  box-shadow: 10px 10px 15px #011212;
}
.error {
  color: tomato;
}
